.user-stories {
  padding: 2rem 2rem 2rem 3rem ;
  margin-top: 60px;
  .title {
    display: inline;
    span {
      background-color: rgba(255,255,255,0.0);
      height: auto;
      width: 187px;
      margin: 0;
      transform: rotate(0deg);
      opacity: 1.0;
      font-family: "Avenir-Book", Helvetica, Arial, serif;
      font-size: 28.0px;
      color: #707090;
      text-align: left;
      line-height: 38.0px;
      padding-right: 20px;
    }
    .btn-dropdown {
      display: inline;
      button {
        background-color: #ffffff;
        border-radius: 50px;
        border: none;
        width: 38px;
        box-shadow: 0px 0px 13px 3px #e1e4ea;
        outline: none;
        height: 38px;
        
        svg {
          color: #707090;
          font-size: 28px;
          margin-left: -7px;
          font-weight: 900;
          font-family: sans-serif;
        }
      }

      button:focus {
        outline: none;
      }
      .dropdown-toggle::after {
        display: none;
      }
    }
  }
}