.main {
  margin-left: 80px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  // padding: 0px 10px;
  @media(max-width: 700px) {
    margin-left: 0px; 
  }
}